upload.config.server = '' // Empty if the webapp is in the same place as the server
// upload.config.server = 'https://yourserver.com/' // If the webapp is separated from the server - remember the trailing slash
upload.config.api_key = '{{ up1_api_key }}' // Should be the same as the server, used for uploading
upload.config.footer = '<a href="https://github.com/Upload/Up1" target="_blank">Source Code</a> - <a href="mailto:{{ up1_email_contact }}" id="contact" target="_blank">Contact</a> - Encrypted files are removed from server every monday 1am'

